 <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <!-- <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"> -->

        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--=============== SWIPER CSS ===============--> 
        <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="static/css/style.css">
		
	 <link href="static/css/bootstrap.css" rel="stylesheet" />

	<link href="static/css/login-register.css" rel="stylesheet" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	<script src="static/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.js" type="text/javascript"></script>
	<script src="static/js/login-register.js" type="text/javascript"></script>

        <!--=============== Bootstrap icons ===============-->

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <title>Surgery</title>
    </head>
	<body>
	
	<header class="header" id="header">
		<nav class="nav container">
			<a href="#" class="nav__logo">
				SurgeoCare <i class='bx bxs-home-alt-2'></i>
			</a>
			<div class="nav__menu">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#home" class="nav__link active-link">
							<i class='bx bx-home-alt-2'></i>
							<span>Home</span>
						</a>
					</li>
					
					<li class="nav__item">
						<a href="#popular" class="nav__link active-link">
							<i class='bx bx-heart'></i>							
							<span>about</span>
						</a>
					</li>
					
					<li class="nav__item">
						<a href="#value" class="nav__link active-link">
							<i class='bx bx-lock-open'></i>
							<span>sign_in</span>
						</a>
					</li>
					
					<li class="nav__item">
						<a href="#contact" class="nav__link active-link">
							<i class='bx bx-phone-call'></i>
							<span>contact</span>
						</a>
					</li>
					
				
				</ul>
			</div>
			
			  <!--=============== Theme change ===============-->

				<i class='bx bx-moon change-theme' id="theme-button"></i>			  
				<!-- <a href="#bookapp" class="button nav__button"> -->
							<!-- Book Appointment -->
				<!-- </a> -->
				
				
		
				<a class="button nav__button" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
							 
					
		</nav>

		{% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %} {% for category, message in messages %} {% if category ==
			'error' %}
			<div class="alert alert-danger alter-dismissable fade show" role="alert">
			  {{ message }}
			  <button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% else %}
			<div class="alert alert-success alter-dismissable fade show" role="alert">
			  {{ message }}
			  <button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			{% endif %} {% endfor %} {% endif %} {% endwith %}

	
	</header>

	
	
	
	
	
	
	
	
	        <!--=============== Main ===============-->
<main class="main">
	        <!--=============== Home ===============-->

	<section class="home section" id="home">
		<div class="home__container container grid">
				<div class="home__data">
					<h1 class="home__title">SurgeoCure</h1>
					<p class="home__description">
					Touching lives, one patient at a time.			
					</p>
					<form action="" class="home__search">
						<i class="bi bi-bandaid"></i>
						<input type="search" placeholder="search by specialization.." class="home__search-input">
						<button class="button">Search</button>
					</form>
					
					<div class="home__value">
						<div>
							<h1 class="home__value-number">
							20<span>+</span>
							</h1>
							<span class="home__value-description">
							Premium<br>rooms
							</span>
						</div>	
					
						<div>
							<h1 class="home__value-number">
							100k<span>+</span>
							</h1>
							<span class="home__value-description">
							Healthy people <br>Outstanding care.
							</span>
						</div>	
					
						<div>
							<h1 class="home__value-number">
							100k<span>+</span>
							</h1>
							<span class="home__value-description">
							Healthy people <br>Outstanding care.
							</span>
						</div>
					</div>
				</div>
			
			
				<div class="home__images">
					<div class="home__orbe"></div>
					<div class="home__img">
						<img src="static/images/home.jpg">
					</div>
					
				</div>
			
		</div>
		
		<div class="container">
    
		 <div class="modal fade login" id="loginModal">
		      <div class="modal-dialog login animated">
    		      <div class="modal-content">
    		         <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                             <div class="content">
									
									<div class="error"></div>
									<div class="form loginBox">
									<h2>Login</h2>
										<form method="POST" action="" accept-charset="UTF-8">
										<input id="email" class="form-control" type="text" placeholder="Email" name="email">
										<input id="password" class="form-control" type="password" placeholder="Password" name="password">
										<button type="submit"  name="login" class="btn btn-default btn-login">Login</button>
										</form>
									</div>
                             </div>
                        </div>
                        <div class="box">
								<div class="content registerBox" style="display:none;">
									<div class="form">
									<form method="POST" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
									<h2>Register</h2>

									<input id="fname" class="form-control" type="text" placeholder="First Name" name="fname">
									<input id="lname" class="form-control" type="text" placeholder="Last Name" name="lname">
									<input id="email" class="form-control" type="email" placeholder="Email" name="email">
									<input id="phone" class="form-control" type="text" placeholder="Phone" name="phone">
									<input id ="bd date" class ="form-control" type="date" placeholder="Birthday Date" name="bd date" >
									<input id="password" class="form-control" type="password" placeholder="Password" name="password">
									<input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
									 <div class="switch">
									  <input name="switch" id="Male" type="radio" value="Male" checked/>
									  <label for="Male" class="switch__label">Male</label>
									  
									  <input name="switch" id="Female" type="radio" value="Female" />
									  <label for="Female" class="switch__label" >Female</label>
									  <div class="switch__indicator" /></div>
									</div>
							           <button type="submit" name="register" class="button nav__button">Create</button>
									</form>
									</div>
								</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>
    		      </div>
		      </div>
		  </div>
    </div>

	</section>


	<section class="logos section">
		<div class="logos__container container grid">
			<div class="logos__img">
			<img src="static/images/siemens.png" alt="">
			</div>
			<div class="logos__img">
			<img src="static/images/philips.png" alt="">
			</div>
			<div class="logos__img">
			<img src="static/images/ge.PNG" alt="">
			</div>
			<div class="logos__img">
			<img src="static/images/bd.png" alt="">
			</div>
		</div>
	</section>

        <!--=============== Devices ===============-->

<section class="popular section" id="popular">
		<div class="container">
			<span class="section__subtitle">Guaranteed by the top medical devices manufacturers</span>
			<h2 class="section__title">
			Our Devices<span>.</span>
			</h2>
			
			<div class="popular__container swiper">
				<div class="swiper-wrapper">
					<article class="popular__card swiper-slide">
						<img src="static/images/anthesia.jpeg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
								Anthesia
								</h2>
								<h3 class="popular__title">
								GPC
								</h3>
								<p class="popular__description">
used to generate and mix a fresh gas flow of medical gases and inhalational anaesthetic agents for the purpose of inducing and maintaining anaesthesia								</p>
						</div>
					</article>
					<article class="popular__card swiper-slide">
						<img src="static/images/ventilator.jpeg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
								Ventilator
								</h2>
								<h3 class="popular__title">
								SternMed
								</h3>
								<p class="popular__description">
act as bellows to move air in and out of your lungs. Your respiratory therapist and doctor set the ventilator to control how often it pushes air into your lungs and how much air you get.</p>
						</div>
					</article>
					<article class="popular__card swiper-slide">
						<img src="static/images/ecg.jpeg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
ECG								</h2>
								<h3 class="popular__title">
								SternMed
								</h3>
								<p class="popular__description">
recording of the heart's electrical activity. It is a quick and painless procedure. EKGs captures a tracing of cardiac electrical impulse as it moves from the atrium to the ventricles. 								</p>
						</div>
					</article>
					<article class="popular__card swiper-slide">
						<img src="static/images/infusionpump.jpeg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
								Infusion pump
								</h2>
								<h3 class="popular__title">
								SternMed
								</h3>
								<p class="popular__description">
 infuses fluids, medication or nutrients into a patient's circulatory system. It is generally used intravenously, although subcutaneous, arterial and epidural infusions are occasionally used.								</p>
						</div>
					</article>
					<article class="popular__card swiper-slide">

						<img src="static/images/device3.jpg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
								EKG
								</h2>
								<h3 class="popular__title">
								SternMed
								</h3>
								<p class="popular__description">
recording of the heart's electrical activity. It is a quick and painless procedure. EKGs captures a tracing of cardiac electrical impulse as it moves from the atrium to the ventricles. 								</p>
								</p>
						</div>
					</article>
					<article class="popular__card swiper-slide">
						<img src="static/images/device4.jpg" class="popular__img">
						<div class="popular__data">
								
								<h2 class="popular__price">
EKG								</h2>
								<h3 class="popular__title">
								SternMed
								</h3>
								<p class="popular__description">
recording of the heart's electrical activity. It is a quick and painless procedure. EKGs captures a tracing of cardiac electrical impulse as it moves from the atrium to the ventricles. 								</p>
								</p>
						</div>
					</article>
				</div>
				<div class="swiper-button-next">
				<i class='bx bxs-chevron-right'></i>
				</div>
				<div class="swiper-button-prev">
				<i class='bx bxs-chevron-left'></i>
				</div>
				 
			</div>
		</div>
	</section>
	
	
	
	
        <!--=============== Value ===============-->
    <section class="value section" id="value">
		<div class="value__container container grid">
			<div class="value__images">
				<div class="value__orbe"></div>
				<div class="value__img">
					<img src="static/images/home.jpg" alt=""> 
				</div>
			</div>
			<div class="value__ content">
				<div class="value__data">
					<span class="section__subtitle">Our Value</span>
					<h2 class="section__title">
						value we give to you<span></span>
					</h2>

					<p class="value__description">
						we always ready to helpby providing the best service for you
						we believe a good place to live can make you life better

					</p>
				</div>

				<div class="value__accordion">
					<div class="value__accordion-item">
						<header class="value__accordion-header">
							<i class='bx bxs-shield-x value__accordion-icon'></i>
							<h3 class="value__accordion-title">
                                Best rates on the market
							</h3>
                            <div class="value__accordion-arrow">
								<i class='bx bxs-down-arrow'></i>
							</div>
						</header>

						<div class="value__accordion-content">
							<p class="value__accordion-description">
								price we provide is the best for you,
								we guarantee no price changes on your surgery due
								to various unexpected costs that may come.
							</p>
						</div>
					</div>
					<div class="value__accordion-item">
						<header class="value__accordion-header">
							<i class='bx bxs-shield-x value__accordion-icon'></i>
							<h3 class="value__accordion-title">
                                prevent unstable prices
							</h3>
                            <div class="value__accordion-arrow">
								<i class='bx bxs-down-arrow'></i>
							</div>
						</header>

						<div class="value__accordion-content">
							<p class="value__accordion-description">
								price we provide is the best for you,
								we guarantee no price changes on your surgery due
								to various unexpected costs that may come.
							</p>
						</div>
					</div>

					<div class="value__accordion-item">
						<header class="value__accordion-header">
							<i class='bx bxs-check-square value__accordion-icon'></i>
							<h3 class="value__accordion-title">
                                security of your data
							</h3>
                            <div class="value__accordion-arrow">
								<i class='bx bxs-down-arrow'></i>
							</div>
						</header>

						<div class="value__accordion-content">
							<p class="value__accordion-description">
								security to your body we provide is the best for you,
								we guarantee no leaks of your body.
							</p>
						</div>
					</div>

					<div class="value__accordion-item">
						<header class="value__accordion-header">
							<i class='bx bxs-check-square value__accordion-icon'></i>
							<h3 class="value__accordion-title">
                                security of your data
							</h3>
                            <div class="value__accordion-arrow">
								<i class='bx bxs-down-arrow '></i>
							</div>
						</header>

						<div class="value__accordion-content">
							<p class="value__accordion-description">
								price we provide is the best for you,
								we guarantee no price changes on your property due
								to various unexpected costs that may come.
							</p>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</section>



        <!--=============== Contact ===============-->




	<section class="contact section" id="contact">
		<div class="contact__container container grid">
             <div class="contact__images">
				 <div class="contact__orbe"></div>

				 <div class="contact__img">
					 <img src="static/images/home.jpg" alt="">
				 </div>
			 </div>

			 <div class="contact__content">
				 <div class="contact__data">
					 <span class="section__subtitle">Contact us</span>
					 <h2 class="section__title">
						 Easy to Contact us<span>.</span>
						
					 </h2>
					 <p class="contact__description">
						 Is there a problem finding your best doctor? Need a
						 guide in bookng appointments? or need a consultation
						 on surgical issues? just contact us.
					 </p>
				 </div>
				 <div class="contact__card">
					 <div class="contact__card-box">
						 <div class="contact__card-info">
							 <i class='bx bxs-envelope'></i>
							 <div>
								 <h3 class="contact__card-title">
                                    Messsage 
								 </h3>
								 <p class="contact__card-description">
                                    01120889776
								 </p>
							 </div>
						 </div>
						 <button class="button contact__card-button">
                               Message Now
						 </button>
					 </div>

					 <div class="contact__card-box">
						<div class="contact__card-info">
							<i class='bx bxs-video'></i>
							<div>
								<h3 class="contact__card-title">
                                      Video Call
								</h3>
								<p class="contact__card-description">
								   01120889776
								</p>
							</div>
						</div>
						<button class="button contact__card-button">
                               video call Now
						</button>
					</div>

					<div class="contact__card-box">
						<div class="contact__card-info">
							<i class='bx bxs-message-rounded-dots'></i>
							<div>
								<h3 class="contact__card-title">
									chat
  								</h3>
								<p class="contact__card-description">
								   01120889776
								</p>
							</div>
						</div>
						<button class="button contact__card-button">
                             Chat Now
						</button>
					</div>

					<div class="contact__card-box">
						<div class="contact__card-info">
							<i class='bx bxs-phone-call'></i>
							<div>
								<h3 class="contact__card-title">
                                    Call 
								</h3>
								<p class="contact__card-description">
								   01120889776
								</p>
							</div>
						</div>
						<button class="button contact__card-button">
                               Call Now
						</button>
					</div>
				 </div>
			 </div>
		</div>
    </section>
	
	
	
	        <!--=============== Subscribe ===============-->

	<section class="subscribe section" id="subscribe">
		<div class="subscribe__container container">
			<h1 class="subscribe__title">
				Be a member and become a part of our family!
			</h1>
			<p class="subscribe__description">
				Login and book your next appointment with us!
			</p>
			<a href="#" class="button subscribe__button">
				Log-in
			</a>
		</div>
	</section>
	
</main>
	
		<!--=============== Footer ===============-->

	<footer class="footer section" id="contact">
		<div class="footer__container container grid">
			<div>
				<a href="#" class="footer__logo">
				SurgeoCare <i class='bx bxs-home-alt-2'></i>
				</a>
				<p class="footer__description">
				Putting more care into healthcare.
				</p>
				</div>
					<div class="footer__content">
						<div>
							<h3 class="footer__title">
							About
							</h3>
							<ul class="footer__links">
								<li>
									<a href="#" class="footer__links"> About us</a>
								</li>
								<li>
									<a href="#" class="footer__links">Features</a>
								</li>
								<li>
									<a href="#" class="footer__links">News & Blogs</a>
								</li>
								<li>
									<a href="#" class="footer__links"></a>
								</li>
							</ul>
						</div>
						<div>
							<h3 class="footer__title">
							Company
							</h3>
							<ul class="footer__links">
								<li>
									<a href="#" class="footer__links"> About us</a>
								</li>
								<li>
									<a href="#" class="footer__links">Features</a>
								</li>
								<li>
									<a href="#" class="footer__links">News & Blogs</a>
								</li>
								<li>
									<a href="#" class="footer__links"></a>
								</li>
							</ul>
						</div>
						<div>
							<h3 class="footer__title">
							Company
							</h3>
							<ul class="footer__links">
								<li>
									<a href="#" class="footer__links"> About us</a>
								</li>
								<li>
									<a href="#" class="footer__links">Features</a>
								</li>
								<li>
									<a href="#" class="footer__links">News & Blogs</a>
								</li>
								<li>
									<a href="#" class="footer__links"></a>
								</li>
							</ul>
						</div>
						<div>
							<h3 class="footer__title">
							Follow us!
							</h3>
							<ul class="footer__social">
									<a href="https://web.facebook.com/?_rdc=1&_rdr" target="blank" class="footer__social-link">
									<i class='bx bxl-facebook-circle'></i>
									</a>
									<a href="https://www.instagram.com/" target="blank" class="footer__social-link">
									<i class='bx bxl-instagram-alt'></i>
									</a>
									<a href="https://www.pinterest.com/" target="blank" class="footer__social-link">
									<i class='bx bxl-pinterest'></i>

							</ul>
							
						</div>
						
						
					</div>
			<div class="footer__privacy">
			<a href="#">Terms & agreements</a>
			<a href="#">Privacy & policy</a>
			</div>
		</div>
	</footer>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up"> 
			<i class='bx bx-chevrons-up'></i>
        </a>

        <!--=============== SWIPER JS ===============-->
        <script src="static/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="static/js/main.js"></script>
	</body>
	</html>